- name: install ?
  ansible.builtin.package:
    name:
      - ?
    state: present
    update_cache: yes
  become: yes
- name: make ? dir
  file:
    path: "~/.config/?/"
    state: directory
- name: symlink ? dotfile
  file:
    src: "{{role_path}}/files/?.conf"
    path: "~/.config/?/?.conf"
    state: link
#  include_role:
#    name: dotfiles
