- name: install git
  ansible.builtin.package:
    name:
      - git
    state: present
    update_cache: yes
  become: yes
- name: symlink git dotfile
  file:
    src: "{{role_path}}/files/gitconfig"
    path: "~/.gitconfig"
    state: link
#  include_role:
#    name: dotfiles

