- name: install tmux
  ansible.builtin.package:
    name:
      - tmux
    state: present
    update_cache: yes
  become: yes
- name: make tmux dir
  file:
    path: "~/.config/tmux/"
    state: directory
- name: symlink tmux dotfile
  file:
    src: "{{role_path}}/files/tmux.conf"
    path: "~/.config/tmux/tmux.conf"
    state: link
#  include_role:
#    name: dotfiles
